<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BluePrints.Common.LayoutSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BluePrints.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<connectionStrings>
    <add name="BluePrintsEntities" connectionString="data source=EVERN-PC\SQLEXPRESS;initial catalog=BLUEPRINT;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PrimeroEntities" connectionString="data source=EVERN-PC\SQLEXPRESS;initial catalog=Primero;persist security info=True;user id=sa;password=Lhpwrma6!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="P6Entities" connectionString="data source=EVERN-PC\SQLEXPRESS;initial catalog=PMDB;persist security info=True;user id=sa;password=Lhpwrma6!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="BluePrintsEntities" connectionString="data source=DC2\SQLEXPRESS2;initial catalog=BLUEPRINT;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="P6Entities" connectionString="data source=DC2\SQLEXPRESS;initial catalog=PMDB_8_4;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="PrimeroEntities" connectionString="data source=DC2\SQLEXPRESS2;initial catalog=Primero;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <BluePrints.Common.LayoutSettings>
      <setting name="LogicalLayout" serializeAs="String">
        <value />
      </setting>
      <setting name="ViewsLayout" serializeAs="String">
        <value />
      </setting>
      <setting name="ThemeName" serializeAs="String">
        <value />
      </setting>
    </BluePrints.Common.LayoutSettings>
    <BluePrints.Properties.Settings>
      <setting name="AllStaticFilters" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <FilterInfo>
              <Name>All</Name>
            </FilterInfo>
          </ArrayOfFilterInfo>
        </value>
      </setting>
      <setting name="PROJECTCustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="AREACustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="DEPARTMENTCustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="DISCIPLINECustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="DOCTYPECustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="PHASECustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="BASELINECustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="RATECustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="WORKPACKCustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="PROGRESSCustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="VARIATIONCustomFilter" serializeAs="Xml">
        <value>
          <ArrayOfFilterInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
    </BluePrints.Properties.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2016Colorful</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>