<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BluePrintsEntities"
         connectionString="data source=DC2\BLUEPRINTS;initial catalog=BLUEPRINT_BETA;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
    <add name="BluePrintsPerthEntities"
     connectionString="data source=DC2\BLUEPRINTS;initial catalog=BLUEPRINT_BETA;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework"
     providerName="System.Data.SqlClient" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
    <add name="BluePrintsMontrealEntities"
     connectionString="data source=CANADASQL\BLUEPRINTS;initial catalog=BLUEPRINT;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework"
     providerName="System.Data.SqlClient" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
    <add name="P6Entities"
         connectionString="data source=DC2\BLUEPRINTS;initial catalog=BLUEPRINTS_PMDB;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
    <add name="PrimeroEntities"
         connectionString="data source=DC2\SQLEXPRESS2;initial catalog=Primero;persist security info=True;user id=sa;password=Primero0001;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
    <add name="PGAEntities"
         connectionString="data source=CANADASQL\BLUEPRINTS;initial catalog=PGA;persist security info=True;user id=GuestUser01;password=Mynpw4PG;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
    <add name="SignalR" connectionString="http://192.168.70.5:5050/signalr" xdt:Transform="Insert" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>