ALTER TABLE PROJECT ADD ANTICIPATED_CONTRACT_VALUE DECIMAL(18, 2) NULL

UPDATE PROJECT SET FORECAST_DATA_DATE = DATEADD(second, -1, DATEADD(dd, 1, DATEADD(dd, DATEDIFF(dd, 0, FORECAST_DATA_DATE), 0))) WHERE FORECAST_DATA_DATE IS NOT NULL
UPDATE FORECAST_JOB_HOUR_SNAPSHOT SET DATA_DATE = DATEADD(second, -1, DATEADD(dd, 1, DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0)))

/****** Object:  StoredProcedure [dbo].[RefreshForecastPOs]    Script Date: 21/4/2022 5:05:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshForecastPOs] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @FUTURE_PO_SNAPSHOT_TYPE AS INT
	SET @FUTURE_PO_SNAPSHOT_TYPE = 4
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	DECLARE @TBL_VALID_PO_NUMBERS TABLE 
	(
		PO_NUMBER NVARCHAR(20) NOT NULL,
		SUB_JOBCODE NVARCHAR(15) NULL, 
		DISCIPLINE_CODE NVARCHAR(4) NULL, 
		COMMODITY_CODE NVARCHAR(4) NULL, 
		STOCKCODE NVARCHAR(20) NULL, 
		VARIATION_CODE NVARCHAR(50) NULL
	)

	INSERT INTO @TBL_VALID_PO_NUMBERS 
	SELECT PO_NUMBER, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, STOCK_CODE, VARIATION_CODE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = 3 AND GUID_PROJECT = @PROJECT_GUID AND DATA_DATE = @DATA_DATE_LAST_SECOND

	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @FUTURE_PO_SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY
;WITH 
	POForecastDataPoints AS
	(
		SELECT SUB_JOBCODE = ISNULL(FORECAST_PO.JOB_CODE, ''), DISCIPLINE_CODE = ISNULL(FORECAST_PO.DISCIPLINE_CODE, ''), COMMODITY_CODE = ISNULL(FORECAST_PO.COMMODITY_CODE, ''), VARIATION_CODE = ISNULL(FORECAST_PO.VARIATION_CODE, ''), STOCK_CODE = CASE WHEN FORECAST_PO.STOCK_CODE IS NULL OR FORECAST_PO.STOCK_CODE = '' THEN FORECAST_PO.COMMODITY_CODE ELSE FORECAST_PO.STOCK_CODE END, 
		FORECAST_DATE, Q_WEEKNO = DATEPART(WEEK, FORECAST_PO.FORECAST_DATE), Q_MONTHNO = DATEPART(MONTH, FORECAST_PO.FORECAST_DATE), Q_YEAR = DATEPART(YEAR, FORECAST_PO.FORECAST_DATE), FORECAST_COSTS = ISNULL(FORECAST_PO.FORECAST_VALUE, 0)
		FROM FORECAST_PO 
		JOIN PROJECT ON FORECAST_PO.GUID_PROJECT = PROJECT.GUID
		-- only valid PO number will be queried
		JOIN @TBL_VALID_PO_NUMBERS ValidPOLines ON ValidPOLines.PO_NUMBER = FORECAST_PO.PONO AND ValidPOLines.SUB_JOBCODE = FORECAST_PO.JOB_CODE AND ValidPOLines.DISCIPLINE_CODE = FORECAST_PO.DISCIPLINE_CODE AND ValidPOLines.COMMODITY_CODE = FORECAST_PO.COMMODITY_CODE AND ValidPOLines.STOCKCODE = FORECAST_PO.STOCK_CODE AND ValidPOLines.VARIATION_CODE = FORECAST_PO.VARIATION_CODE
		WHERE PROJECT.NUMBER = @PROJECT_NUMBER AND FORECAST_PO.DELETED IS NULL AND PROJECT.DELETED IS NULL AND FORECAST_PO.FORECAST_DATE > @DATA_DATE_LAST_SECOND
	),
	GroupedPOForecastDataPoints AS
	(
		SELECT SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE,
		TOTAL_OUTSTANDING_COSTS = ISNULL(SUM(FORECAST_COSTS), 0),
		Q_YEAR, Q_MONTHNO,
		FIRST_WEEK_DATE = MIN(FORECAST_DATE)
		FROM POForecastDataPoints GROUP BY SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, Q_YEAR, Q_MONTHNO
	)

	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT (GUID, GUID_PROJECT, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, SNAPSHOT_TYPE, DATA_DATE, FORECAST_DATE, PROJECT_BUDGET, FORECAST_QTY, FORECAST_COST, CREATED, CREATEDBY, UPDATED, UPDATEDBY, DELETED, DELETEDBY, PO_TOTAL, PO_NUMBER, STATUS_CODE)
	SELECT NEWID(), @PROJECT_GUID, SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, @FUTURE_PO_SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, FIRST_WEEK_DATE, 0, 0, TOTAL_OUTSTANDING_COSTS, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, NULL, NULL, NULL FROM GroupedPOForecastDataPoints
END

/****** Object:  StoredProcedure [dbo].[RefreshForecastP6s]    Script Date: 21/04/2022 5:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshForecastP6s] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @IS_PLANNED BIT, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- assign snapshot type
	DECLARE @SNAPSHOT_TYPE AS INT
	SET @SNAPSHOT_TYPE = 
		CASE WHEN @IS_PLANNED = 1 THEN
			7
		ELSE
			8
		END
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	-- set the cut off date for P6, so that any datapoint that is before this date will be accrued on the first forecast date
	DECLARE @P6ForecastStartDate AS DATETIME
	SET @P6ForecastStartDate = DATEADD(month, DATEDIFF(month, 0, @DATA_DATE), 0)
	SET @P6ForecastStartDate = DATEADD(month, 1, @P6ForecastStartDate)

	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY

;WITH 
	CutOffAdjustedP6DataPoints AS 
	(
		SELECT *, SUB_JOBCODE = ISNULL(SubJobCode, ''), DISCIPLINE_CODE = ISNULL(DisciplineCode, ''), COMMODITY_CODE = ISNULL(CommodityCode, ''), VARIATION_CODE = ISNULL(VariationCode, ''),
		AdjustedPeriodStartDate = CASE WHEN UniversalPeriodStartDate < @P6ForecastStartDate THEN @P6ForecastStartDate ELSE UniversalPeriodStartDate END
		FROM DataPoint WHERE IsPlanned = @IS_PLANNED AND IsLate = 0 AND IsCurrent = 0 AND IsForecast = 1 AND ProjectNumber = @PROJECT_NUMBER
	),
	AllP6DataPoints AS
	(
		SELECT *, Q_WEEKNO = DATEPART(WEEK, AdjustedPeriodStartDate), Q_MONTHNO = DATEPART(MONTH, AdjustedPeriodStartDate), Q_YEAR = DATEPART(YEAR, AdjustedPeriodStartDate)
		FROM CutOffAdjustedP6DataPoints
	),
	GroupedP6Transactions AS
	(
		SELECT SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, 
		TOTAL_QUANTITY = ISNULL(SUM(PeriodUnits), 0),
		TOTAL_COSTS = ISNULL(SUM(PeriodPrice), 0),
		Q_YEAR, Q_MONTHNO,
		FIRST_WEEK_DATE = MIN(AdjustedPeriodStartDate)
		FROM AllP6DataPoints GROUP BY SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, Q_YEAR, Q_MONTHNO
	)

	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT (GUID, GUID_PROJECT, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, SNAPSHOT_TYPE, DATA_DATE, FORECAST_DATE, PROJECT_BUDGET, FORECAST_QTY, FORECAST_COST, CREATED, CREATEDBY, UPDATED, UPDATEDBY, DELETED, DELETEDBY, PO_TOTAL, PO_NUMBER, STATUS_CODE)
	SELECT NEWID(), @PROJECT_GUID, SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, '', @SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, FIRST_WEEK_DATE, 0, TOTAL_QUANTITY, TOTAL_COSTS, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, NULL, NULL, NULL FROM GroupedP6Transactions
END

/****** Object:  StoredProcedure [dbo].[RefreshForecastIndirects]    Script Date: 21/04/2022 5:16:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshForecastIndirects] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- assign snapshot type
	DECLARE @SNAPSHOT_TYPE AS INT
	SET @SNAPSHOT_TYPE = 5
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY

;WITH 
	AllIndirects AS
	(
		SELECT SUBJOB_CODE = ISNULL(SUBJOB_CODE, ''), DISCIPLINE_CODE = ISNULL(DISCIPLINE_CODE, ''), COMMODITY_CODE = ISNULL(COMMODITY_CODE, ''), 
		VARIATION_CODE = ISNULL(VARIATION_CODE, ''), STOCK_CODE = CASE WHEN STOCK_ITEM IS NULL OR STOCK_ITEM = '' THEN COMMODITY_CODE ELSE STOCK_ITEM END, 
		Q_WEEKNO = DATEPART(WEEK, FORECAST_JOB_HOUR.FORECAST_DATE), Q_MONTHNO = DATEPART(MONTH, FORECAST_JOB_HOUR.FORECAST_DATE), Q_YEAR = DATEPART(YEAR, FORECAST_JOB_HOUR.FORECAST_DATE), FORECAST_JOB_HOUR.FORECAST_DATE,
		FORECAST_UNITS = FORECAST_JOB_HOUR.FORECAST_HOUR,
		FORECAST_COSTS = ISNULL(FORECAST_JOB.FORECAST_RATE, 0) * ISNULL(FORECAST_JOB_HOUR.FORECAST_HOUR, 0)
		FROM FORECAST_JOB
		JOIN FORECAST_JOB_HOUR ON FORECAST_JOB.GUID = FORECAST_JOB_HOUR.GUID_FORECAST_JOB
		WHERE FORECAST_JOB.GUID_PROJECT = @PROJECT_GUID AND FORECAST_JOB.DELETED IS NULL AND FORECAST_JOB_HOUR.DELETED IS NULL AND FORECAST_JOB_HOUR.FORECAST_DATE > @DATA_DATE
	),
	GroupedIndirects AS
	(
		SELECT SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, 
		TOTAL_QUANTITY = ISNULL(SUM(FORECAST_UNITS), 0),
		TOTAL_COSTS = ISNULL(SUM(FORECAST_COSTS), 0),
		Q_YEAR, Q_MONTHNO,
		FIRST_WEEK_DATE = MIN(FORECAST_DATE)
		FROM AllIndirects GROUP BY SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, STOCK_CODE, VARIATION_CODE, Q_YEAR, Q_MONTHNO, Q_WEEKNO
	)

	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT (GUID, GUID_PROJECT, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, SNAPSHOT_TYPE, DATA_DATE, FORECAST_DATE, PROJECT_BUDGET, FORECAST_QTY, FORECAST_COST, CREATED, CREATEDBY, UPDATED, UPDATEDBY, DELETED, DELETEDBY, PO_TOTAL, PO_NUMBER, STATUS_CODE)
	SELECT NEWID(), @PROJECT_GUID, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, @SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, FIRST_WEEK_DATE, 0, TOTAL_QUANTITY, TOTAL_COSTS, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, NULL, NULL, NULL FROM GroupedIndirects
END

/****** Object:  StoredProcedure [dbo].[RefreshForecastETC]    Script Date: 21/4/2022 5:22:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshForecastETC] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- assign snapshot type
	DECLARE @SNAPSHOT_TYPE AS INT
	SET @SNAPSHOT_TYPE = 9
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY

;WITH 
	LatestProgressETCRecords AS
	(
		SELECT GUID_ORIBASEITEM, MAX_ETC_DATE = MAX(ETC_DATE) OVER (PARTITION BY GUID_ORIBASEITEM) FROM PROGRESS_ETC 
		JOIN PROGRESS ON PROGRESS_ETC.GUID_PROGRESS = PROGRESS.GUID
		JOIN PROJECT ON PROGRESS.GUID_PROJECT = PROJECT.GUID
		WHERE PROGRESS.STATUS = 2 AND PROJECT.NUMBER = @PROJECT_NUMBER AND ETC_DATE <= @DATA_DATE AND PROGRESS.DELETED IS NULL AND PROJECT.DELETED IS NULL AND PROGRESS_ETC.DELETED IS NULL
	),
	ProgressETCRecordsWithWBS AS
	(
		SELECT SUB_JOBCODE = ISNULL(SUBJOB.INTERNAL_NAME1, ''), DISCIPLINE_CODE = ISNULL(
		CASE WHEN BASELINE_ITEM.DISCIPLINE_NUM > 9 THEN
			DISCIPLINE.CODE + CONVERT(varchar(5), BASELINE_ITEM.DISCIPLINE_NUM)
		ELSE
			DISCIPLINE.CODE + '0' + CONVERT(varchar(5), BASELINE_ITEM.DISCIPLINE_NUM)
		END, ''), COMMODITY_CODE = ISNULL(DOCTYPE.CODE, ''), ETC_UNITS FROM PROGRESS_ETC
		JOIN LatestProgressETCRecords ON PROGRESS_ETC.GUID_ORIBASEITEM = LatestProgressETCRecords.GUID_ORIBASEITEM AND PROGRESS_ETC.ETC_DATE = LatestProgressETCRecords.MAX_ETC_DATE
		JOIN PROGRESS ON PROGRESS_ETC.GUID_PROGRESS = PROGRESS.GUID
		JOIN PROJECT ON PROGRESS.GUID_PROJECT = PROJECT.GUID
		JOIN BASELINE_ITEM ON BASELINE_ITEM.GUID_ORIGINAL = PROGRESS_ETC.GUID_ORIBASEITEM
		JOIN SUBJOB ON BASELINE_ITEM.GUID_SUBJOB = SUBJOB.GUID
		JOIN DISCIPLINE ON BASELINE_ITEM.GUID_DISCIPLINE = DISCIPLINE.GUID
		JOIN DOCTYPE ON BASELINE_ITEM.GUID_DOCTYPE = DOCTYPE.GUID
		WHERE PROGRESS.STATUS = 2 AND PROJECT.NUMBER = @PROJECT_NUMBER AND ETC_DATE <= @DATA_DATE AND PROGRESS.DELETED IS NULL AND PROJECT.DELETED IS NULL AND PROGRESS_ETC.DELETED IS NULL
	),
	ProgressETCsGroupByWBS AS
	(
		SELECT SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, TOTAL_REMAINING_UNITS = SUM(ETC_UNITS) FROM ProgressETCRecordsWithWBS
		GROUP BY SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE
	)
	
	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT (GUID, GUID_PROJECT, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, SNAPSHOT_TYPE, DATA_DATE, FORECAST_DATE, PROJECT_BUDGET, FORECAST_QTY, FORECAST_COST, CREATED, CREATEDBY, UPDATED, UPDATEDBY, DELETED, DELETEDBY, PO_TOTAL, PO_NUMBER, STATUS_CODE)
	SELECT NEWID(), @PROJECT_GUID, SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, '', '', @SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, @DATA_DATE_LAST_SECOND, 0, TOTAL_REMAINING_UNITS, 0, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, NULL, NULL, NULL FROM ProgressETCsGroupByWBS
END

/****** Object:  StoredProcedure [dbo].[RefreshForecastEarned]    Script Date: 21/04/2022 5:24:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshForecastEarned] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- assign snapshot type
	DECLARE @SNAPSHOT_TYPE AS INT
	SET @SNAPSHOT_TYPE = 6
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY
;WITH 
	AllEarned AS
	(
		SELECT SUBJOB_CODE = ISNULL(SUBJOB.INTERNAL_NAME1, ''), DISCIPLINE_CODE = ISNULL(
		CASE WHEN BASELINE_ITEM.DISCIPLINE_NUM > 9 THEN
			DISCIPLINE.CODE + CONVERT(varchar(5), BASELINE_ITEM.DISCIPLINE_NUM)
		ELSE
			DISCIPLINE.CODE + '0' + CONVERT(varchar(5), BASELINE_ITEM.DISCIPLINE_NUM)
		END, ''), COMMODITY_CODE = ISNULL(DOCTYPE.CODE, ''), 
		Q_MONTHNO = DATEPART(MONTH, PROGRESS_ITEM.EARNED_DATE), Q_YEAR = DATEPART(YEAR, PROGRESS_ITEM.EARNED_DATE), PROGRESS_ITEM.EARNED_DATE,
		FORECAST_UNITS = ISNULL(PROGRESS_ITEM.EARNED_UNITS, 0),
		FORECAST_RATE = ISNULL(dbo.fnRateLookup(BASELINE.GUID_PROJECT, BASELINE_ITEM.GUID_AREA, BASELINE_ITEM.GUID_SUBAREA, 
								BASELINE_ITEM.GUID_DEPARTMENT, BASELINE_ITEM.GUID_DISCIPLINE, BASELINE_ITEM.DISCIPLINE_NUM, DOCTYPE.CODE, '', PHASE.PHASE_TYPE, PHASE.CHARGE_TYPE, 0), 0)
		FROM PROGRESS_ITEM
		JOIN PROGRESS ON PROGRESS_ITEM.GUID_PROGRESS = PROGRESS.GUID
		JOIN BASELINE_ITEM ON BASELINE_ITEM.GUID_ORIGINAL = PROGRESS_ITEM.GUID_ORIBASEITEM
		JOIN BASELINE ON BASELINE_ITEM.GUID_BASELINE = BASELINE.GUID
		JOIN SUBJOB ON BASELINE_ITEM.GUID_SUBJOB = SUBJOB.GUID
		JOIN DOCTYPE ON BASELINE_ITEM.GUID_DOCTYPE = DOCTYPE.GUID
		JOIN DISCIPLINE ON BASELINE_ITEM.GUID_DISCIPLINE = DISCIPLINE.GUID
		JOIN PHASE ON PHASE.GUID = BASELINE_ITEM.GUID_PHASE
		WHERE BASELINE.STATUS = 2 AND PROGRESS.DELETED IS NULL AND BASELINE_ITEM.DELETED IS NULL AND BASELINE.DELETED IS NULL AND EARNED_DATE <= @DATA_DATE AND BASELINE.GUID_PROJECT = @PROJECT_GUID
	),
	GroupedEarned AS
	(
		SELECT SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, 
		TOTAL_QUANTITY = ISNULL(SUM(FORECAST_UNITS), 0),
		TOTAL_COSTS = ISNULL(SUM(FORECAST_RATE * FORECAST_UNITS), 0),
		Q_YEAR, Q_MONTHNO,
		FIRST_WEEK_DATE = MIN(EARNED_DATE)
		FROM AllEarned GROUP BY SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, Q_YEAR, Q_MONTHNO
	)

	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT (GUID, GUID_PROJECT, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, SNAPSHOT_TYPE, DATA_DATE, FORECAST_DATE, PROJECT_BUDGET, FORECAST_QTY, FORECAST_COST, CREATED, CREATEDBY, UPDATED, UPDATEDBY, DELETED, DELETEDBY, PO_TOTAL, PO_NUMBER, STATUS_CODE)
	SELECT NEWID(), @PROJECT_GUID, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, '', '', @SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, FIRST_WEEK_DATE, 0, TOTAL_QUANTITY, TOTAL_COSTS, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, NULL, NULL, NULL FROM GroupedEarned
END


/****** Object:  StoredProcedure [dbo].[RefreshEarned]    Script Date: 21/04/2022 5:32:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshEarned] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- assign snapshot type
	DECLARE @SNAPSHOT_TYPE AS INT
	SET @SNAPSHOT_TYPE = 6
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY

;WITH 
	AllEarned AS
	(
		SELECT SUBJOB_CODE = ISNULL(SUBJOB.INTERNAL_NAME1, ''), DISCIPLINE_CODE = ISNULL(
		CASE WHEN BASELINE_ITEM.DISCIPLINE_NUM > 9 THEN
			DISCIPLINE.CODE + CONVERT(varchar(5), BASELINE_ITEM.DISCIPLINE_NUM)
		ELSE
			DISCIPLINE.CODE + '0' + CONVERT(varchar(5), BASELINE_ITEM.DISCIPLINE_NUM)
		END, ''), COMMODITY_CODE = ISNULL(DOCTYPE.CODE, ''), 
		Q_WEEKNO = DATEPART(WEEK, PROGRESS_ITEM.EARNED_DATE), Q_YEAR = DATEPART(YEAR, PROGRESS_ITEM.EARNED_DATE), PROGRESS_ITEM.EARNED_DATE,
		FORECAST_UNITS = ISNULL(PROGRESS_ITEM.EARNED_UNITS, 0),
		FORECAST_RATE = ISNULL(dbo.fnRateLookup(BASELINE.GUID_PROJECT, BASELINE_ITEM.GUID_AREA, BASELINE_ITEM.GUID_SUBAREA, 
								BASELINE_ITEM.GUID_DEPARTMENT, BASELINE_ITEM.GUID_DISCIPLINE, BASELINE_ITEM.DISCIPLINE_NUM, DOCTYPE.CODE, '', PHASE.PHASE_TYPE, PHASE.CHARGE_TYPE, 0), 0)
		FROM PROGRESS_ITEM
		JOIN PROGRESS ON PROGRESS_ITEM.GUID_PROGRESS = PROGRESS.GUID
		JOIN BASELINE_ITEM ON BASELINE_ITEM.GUID_ORIGINAL = PROGRESS_ITEM.GUID_ORIBASEITEM
		JOIN BASELINE ON BASELINE_ITEM.GUID_BASELINE = BASELINE.GUID
		JOIN SUBJOB ON BASELINE_ITEM.GUID_SUBJOB = SUBJOB.GUID
		JOIN DOCTYPE ON BASELINE_ITEM.GUID_DOCTYPE = DOCTYPE.GUID
		JOIN DISCIPLINE ON BASELINE_ITEM.GUID_DISCIPLINE = DISCIPLINE.GUID
		JOIN PHASE ON PHASE.GUID = BASELINE_ITEM.GUID_PHASE
		WHERE BASELINE.STATUS = 2 AND PROGRESS.DELETED IS NULL AND BASELINE_ITEM.DELETED IS NULL AND BASELINE.DELETED IS NULL AND EARNED_DATE <= @DATA_DATE AND BASELINE.GUID_PROJECT = @PROJECT_GUID
	),
	GroupedEarned AS
	(
		SELECT SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, 
		TOTAL_QUANTITY = ISNULL(SUM(FORECAST_UNITS), 0),
		TOTAL_COSTS = ISNULL(SUM(FORECAST_RATE * FORECAST_UNITS), 0),
		Q_YEAR, Q_WEEKNO,
		FIRST_WEEK_DATE = MIN(EARNED_DATE)
		FROM AllEarned GROUP BY SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, Q_YEAR, Q_WEEKNO
	)

	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT (GUID, GUID_PROJECT, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, SNAPSHOT_TYPE, DATA_DATE, FORECAST_DATE, PROJECT_BUDGET, FORECAST_QTY, FORECAST_COST, CREATED, CREATEDBY, UPDATED, UPDATEDBY, DELETED, DELETEDBY, PO_TOTAL, PO_NUMBER, STATUS_CODE)
	SELECT NEWID(), @PROJECT_GUID, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, '', '', @SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, FIRST_WEEK_DATE, 0, TOTAL_QUANTITY, TOTAL_COSTS, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, NULL, NULL, NULL FROM GroupedEarned
END

