
/****** Object:  StoredProcedure [dbo].[RefreshForecastBudget]    Script Date: 21/04/2022 5:25:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshForecastBudget] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- assign snapshot type
	DECLARE @SNAPSHOT_TYPE AS INT
	SET @SNAPSHOT_TYPE = 0
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY

;WITH 
	-- Get saved lines for tender budget
	--TenderBudgetGrouped AS
	--(
	--	SELECT SUBJOB_CODE = ISNULL(SUBJOB_CODE, ''), DISCIPLINE_CODE = ISNULL(DISCIPLINE_CODE, ''), COMMODITY_CODE = ISNULL(COMMODITY_CODE, ''), VARIATION_CODE = ISNULL(VARIATION_CODE, ''), 
	--	TENDER_BUDGET = ISNULL(SUM(FORECAST_COSTS), 0) FROM FORECAST_EAC WHERE [TYPE] = 2 AND GUID_PROJECT = @PROJECT_GUID AND DELETED IS NULL
	--	GROUP BY SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE
	--),
	-- Get all project lines from EXO
	ProjectBudget AS 
    ( 
		SELECT SUBJOB_CODE = ISNULL(SUBJOB.JOBCODE, ''), DISCIPLINE_CODE = ISNULL(COSTGROUP.SHORTCODE, ''), COMMODITY_CODE = ISNULL(COSTTYPE.SHORTCODE, ''),
		VARIATION_CODE = ISNULL(JOBLINES.X_VARIATION_CODE, ''), STOCK_CODE = ISNULL(JOBLINES.STOCKCODE, ''), BUDGET = ISNULL(ACTUAL_UNITCOST, 0)
		FROM [DC2\SQLEXPRESS2].Primero.[dbo].JOBCOST_LINES JOBLINES
		JOIN [DC2\SQLEXPRESS2].Primero.[dbo].JOBCOST_HDR SUBJOB ON JOBLINES.JOBNO = SUBJOB.JOBNO
		JOIN [DC2\SQLEXPRESS2].Primero.[dbo].JOBCOST_HDR MASTERJOB ON SUBJOB.MASTER_JOBNO = MASTERJOB.JOBNO
		LEFT JOIN [DC2\SQLEXPRESS2].Primero.[dbo].JOB_COSTGROUPS COSTGROUP ON COSTGROUP.SEQNO = JOBLINES.COST_CENTRE2
		LEFT JOIN [DC2\SQLEXPRESS2].Primero.[dbo].JOB_COSTTYPES COSTTYPE ON COSTTYPE.SEQNO = JOBLINES.COST_CENTRE
		WHERE MASTERJOB.JOBCODE = @PROJECT_NUMBER
	),
	-- Group the project budget
	ProjectBudgetGrouped AS
	(
		SELECT SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, BUDGET = SUM(BUDGET) FROM ProjectBudget GROUP BY SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE,STOCK_CODE
	),
	---- Join both tables together
	--JoinedBudget AS
	--(
	--	SELECT ProjectBudget.SUBJOB_CODE, ProjectBudget.DISCIPLINE_CODE, ProjectBudget.COMMODITY_CODE, ProjectBudget.VARIATION_CODE, ProjectBudget.STOCK_CODE, PROJECT_BUDGET = ProjectBudget.BUDGET, TENDER_BUDGET = ISNULL(TenderBudgetGrouped.TENDER_BUDGET, 0)
	--	FROM ProjectBudget LEFT JOIN TenderBudgetGrouped ON 
	--	ProjectBudget.SUBJOB_CODE collate SQL_Latin1_General_CP1_CI_AS = TenderBudgetGrouped.SUBJOB_CODE collate SQL_Latin1_General_CP1_CI_AS AND
	--	ProjectBudget.DISCIPLINE_CODE collate SQL_Latin1_General_CP1_CI_AS = TenderBudgetGrouped.DISCIPLINE_CODE collate SQL_Latin1_General_CP1_CI_AS AND 
	--	ProjectBudget.COMMODITY_CODE collate SQL_Latin1_General_CP1_CI_AS = TenderBudgetGrouped.COMMODITY_CODE collate SQL_Latin1_General_CP1_CI_AS AND
	--	ProjectBudget.VARIATION_CODE collate SQL_Latin1_General_CP1_CI_AS = TenderBudgetGrouped.VARIATION_CODE collate SQL_Latin1_General_CP1_CI_AS
	--),
	JoinedBudget AS
	(
		SELECT ProjectBudget.SUBJOB_CODE, ProjectBudget.DISCIPLINE_CODE, ProjectBudget.COMMODITY_CODE, ProjectBudget.VARIATION_CODE, ProjectBudget.STOCK_CODE, PROJECT_BUDGET = ProjectBudget.BUDGET, TENDER_BUDGET = 0
		FROM ProjectBudget
	)

	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT SELECT NEWID(), @PROJECT_GUID, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, @SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, @DATA_DATE_LAST_SECOND, PROJECT_BUDGET, 0, 0, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, NULL, NULL, NULL FROM JoinedBudget
END


/****** Object:  StoredProcedure [dbo].[RefreshForecastActuals]    Script Date: 21/04/2022 5:29:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshForecastActuals] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- assign snapshot type
	DECLARE @SNAPSHOT_TYPE AS INT
	SET @SNAPSHOT_TYPE = 1
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY

	DECLARE @LAST_SUNDAYDATE AS DATETIME
	SET @LAST_SUNDAYDATE = DATEADD(day,DATEDIFF(day,'19000107',DATEADD(month,DATEDIFF(MONTH,0,@DATA_DATE),30))/7*7,'19000107')
	SET @LAST_SUNDAYDATE = DATEADD(day, 1, @LAST_SUNDAYDATE)
	SET @LAST_SUNDAYDATE = DATEADD(SECOND, -1, @LAST_SUNDAYDATE)

	SELECT @LAST_SUNDAYDATE
	DECLARE @MIN_DATADATE AS DATETIME
	SET @MIN_DATADATE = DATEADD(year, -2, @DATA_DATE)
;WITH 
	TimeTransactions AS
	(
		SELECT SUB_JOBCODE = X_JOB_TRANSACTIONS_DETAIL_V4.SUB_JOBCODE, DISCIPLINE_CODE = ISNULL(X_JOB_TRANSACTIONS_DETAIL_V4.DISCIPLINE_CODE, ''), 
		COMMODITY_CODE = ISNULL(TRIM(X_JOB_TRANSACTIONS_DETAIL_V4.COMMODITY_CODE), ''),
		STOCK_CODE = ISNULL(TRIM(X_JOB_TRANSACTIONS_DETAIL_V4.STOCKCODE), ''), VARIATION_CODE = ISNULL(X_JOB_TRANSACTIONS_DETAIL_V4.VARIATION_CODE, ''),
		QUANTITY = X_JOB_TRANSACTIONS_DETAIL_V4.QUANTITY, X_JOB_TRANSACTIONS_DETAIL_V4.LINECOST, TRANSDATE = CASE WHEN X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE < @MIN_DATADATE THEN @MIN_DATADATE ELSE X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE END, 
		X_JOB_TRANSACTIONS_DETAIL_V4.PO_NUMBER, X_JOB_TRANSACTIONS_DETAIL_V4.LINE_STATUS, Q_WEEKNO = DATEPART(WEEK, X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE), Q_MONTHNO = DATEPART(MONTH, X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE), Q_YEAR = DATEPART(YEAR, X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE)
		FROM [DC2\SQLEXPRESS2].Primero.[dbo].X_JOB_TRANSACTIONS_DETAIL_V4
		WHERE X_JOB_TRANSACTIONS_DETAIL_V4.MASTER_JOBCODE = @PROJECT_NUMBER AND TRANSTYPE = 'T' AND TRANSDATE <= @LAST_SUNDAYDATE
	),
	MaterialTransactions AS
	(
		SELECT SUB_JOBCODE = X_JOB_TRANSACTIONS_DETAIL_V4.SUB_JOBCODE, DISCIPLINE_CODE = ISNULL(X_JOB_TRANSACTIONS_DETAIL_V4.DISCIPLINE_CODE, ''), 
		COMMODITY_CODE = ISNULL(TRIM(X_JOB_TRANSACTIONS_DETAIL_V4.COMMODITY_CODE), ''),
		STOCK_CODE = ISNULL(TRIM(X_JOB_TRANSACTIONS_DETAIL_V4.STOCKCODE), ''), VARIATION_CODE = ISNULL(X_JOB_TRANSACTIONS_DETAIL_V4.VARIATION_CODE, ''),
		QUANTITY = 0, X_JOB_TRANSACTIONS_DETAIL_V4.LINECOST, TRANSDATE = CASE WHEN X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE < @MIN_DATADATE THEN @MIN_DATADATE ELSE X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE END, 
		X_JOB_TRANSACTIONS_DETAIL_V4.PO_NUMBER, X_JOB_TRANSACTIONS_DETAIL_V4.LINE_STATUS, Q_WEEKNO = DATEPART(WEEK, X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE), Q_MONTHNO = DATEPART(MONTH, X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE), Q_YEAR = DATEPART(YEAR, X_JOB_TRANSACTIONS_DETAIL_V4.TRANSDATE)
		FROM [DC2\SQLEXPRESS2].Primero.[dbo].X_JOB_TRANSACTIONS_DETAIL_V4
		WHERE X_JOB_TRANSACTIONS_DETAIL_V4.MASTER_JOBCODE = @PROJECT_NUMBER AND TRANSTYPE = 'C' AND TRANSDATE <= @DATA_DATE
	),
	AllTransactions AS
	(
		SELECT * FROM TimeTransactions UNION ALL SELECT * FROM MaterialTransactions
	),
	GroupedAllTransactions AS
	(
		SELECT SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, PO_NUMBER, LINE_STATUS,
		TOTAL_QUANTITY = ISNULL(SUM(AllTransactions.QUANTITY), 0),
		TOTAL_COSTS = ISNULL(SUM(AllTransactions.LINECOST), 0),
		Q_YEAR, Q_MONTHNO, 
		FIRST_MONTH_DATE = MIN(AllTransactions.TRANSDATE)
		FROM AllTransactions GROUP BY SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, STOCK_CODE, VARIATION_CODE, PO_NUMBER, LINE_STATUS, Q_YEAR, Q_MONTHNO
	)

	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT SELECT NEWID(), @PROJECT_GUID, SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, @SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, FIRST_MONTH_DATE, 0, TOTAL_QUANTITY, TOTAL_COSTS, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, NULL, PO_NUMBER, LINE_STATUS FROM GroupedAllTransactions
END


/****** Object:  StoredProcedure [dbo].[RefreshPOs]    Script Date: 21/4/2022 5:10:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Su.Bing-Wen
-- Create date: 25/10/2021
-- Description:	Generate forecast budget snapshot
-- =============================================
ALTER PROCEDURE [dbo].[RefreshPOs] @PROJECT_NUMBER NVARCHAR(10), @DATA_DATE DATETIME, @USER_GUID UNIQUEIDENTIFIER
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	-- assign snapshot type
	DECLARE @PREVIOUS_PO_SNAPSHOT_TYPE AS INT
	SET @PREVIOUS_PO_SNAPSHOT_TYPE = 2

	DECLARE @CURRENT_PO_SNAPSHOT_TYPE AS INT
	SET @CURRENT_PO_SNAPSHOT_TYPE = 3
	
	DECLARE @DATA_DATE_DAY_ONLY AS DATETIME
	SET @DATA_DATE_DAY_ONLY = DATEADD(dd, DATEDIFF(dd, 0, @DATA_DATE), 0)

	DECLARE @DATA_DATE_LAST_SECOND AS DATETIME
	SET @DATA_DATE_LAST_SECOND = DATEADD(second, -1, DATEADD(dd, 1, @DATA_DATE_DAY_ONLY))

	-- get project guid
	DECLARE @PROJECT_GUID AS UNIQUEIDENTIFIER
	SET @PROJECT_GUID = (SELECT TOP 1 GUID FROM PROJECT WHERE NUMBER = @PROJECT_NUMBER AND DELETED IS NULL)

	DECLARE @TBL_PO_LINES TABLE 
	(
		Id INT, 
		PO_NUMBER INT NOT NULL, 
		SUB_JOBCODE NVARCHAR(15) NULL, 
		DISCIPLINE_CODE NVARCHAR(4) NULL, 
		COMMODITY_CODE NVARCHAR(4) NULL, 
		STOCKCODE NVARCHAR(20) NULL, 
		VARIATION_CODE NVARCHAR(50) NULL, 
		TOTAL_ORD_QUANT FLOAT NULL,
		TOTAL_SUP_QUANT FLOAT NULL,
		TOTAL_FUTURE_SUPPLY FLOAT NULL,
		TOTAL_OUTSTANDING_COSTS FLOAT NULL,
		TOTAL_COSTS FLOAT NULL,
		FIRST_ORDERDATE DATETIME NULL
	)

	DECLARE @TBL_PREVIOUS_PO_LINES TABLE 
	(
		Id INT, 
		PO_NUMBER INT NOT NULL, 
		SUB_JOBCODE NVARCHAR(15) NULL, 
		DISCIPLINE_CODE NVARCHAR(4) NULL, 
		COMMODITY_CODE NVARCHAR(4) NULL,
		STOCKCODE NVARCHAR(20) NULL, 
		VARIATION_CODE NVARCHAR(50) NULL, 
		TOTAL_ORD_QUANT FLOAT NULL,
		TOTAL_SUP_QUANT FLOAT NULL,
		TOTAL_FUTURE_SUPPLY FLOAT NULL,
		TOTAL_OUTSTANDING_COSTS FLOAT NULL,
		TOTAL_COSTS FLOAT NULL,
		FIRST_ORDERDATE DATETIME NULL
	)
	
	DECLARE @PREVIOUS_MONTH_DATA_DATE DATETIME
	SET @PREVIOUS_MONTH_DATA_DATE = EOMONTH(DATEADD(month, -1, @DATA_DATE))
	SET @PREVIOUS_MONTH_DATA_DATE = DATEADD(dd, 1, @PREVIOUS_MONTH_DATA_DATE)
	SET @PREVIOUS_MONTH_DATA_DATE = DATEADD(SS, -1, @PREVIOUS_MONTH_DATA_DATE)

	INSERT INTO @TBL_PO_LINES 
	EXEC [DC2\SQLEXPRESS2].Primero.[dbo].[X_PURCHORD_LINES_STOCKCODE_V1] @PROJECT_NUMBER, @DATA_DATE
	
	INSERT INTO @TBL_PREVIOUS_PO_LINES 
	EXEC [DC2\SQLEXPRESS2].Primero.[dbo].[X_PURCHORD_LINES_STOCKCODE_V1] @PROJECT_NUMBER, @PREVIOUS_MONTH_DATA_DATE
	
	-- delete the forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @CURRENT_PO_SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY
	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT (GUID, GUID_PROJECT, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, SNAPSHOT_TYPE, DATA_DATE, FORECAST_DATE, PROJECT_BUDGET, FORECAST_QTY, FORECAST_COST, CREATED, CREATEDBY, UPDATED, UPDATEDBY, DELETED, DELETEDBY, PO_TOTAL, PO_NUMBER, STATUS_CODE)
	SELECT NEWID(), @PROJECT_GUID, SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCKCODE, @CURRENT_PO_SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, @DATA_DATE_LAST_SECOND, 0, TOTAL_ORD_QUANT, TOTAL_OUTSTANDING_COSTS, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, TOTAL_COSTS, PO_NUMBER, NULL FROM @TBL_PO_LINES

	-- delete the previous forecast job snapshot before writing
	DELETE FROM FORECAST_JOB_HOUR_SNAPSHOT WHERE SNAPSHOT_TYPE = @PREVIOUS_PO_SNAPSHOT_TYPE AND GUID_PROJECT = @PROJECT_GUID AND DATEADD(dd, DATEDIFF(dd, 0, DATA_DATE), 0) = @DATA_DATE_DAY_ONLY
	INSERT INTO FORECAST_JOB_HOUR_SNAPSHOT (GUID, GUID_PROJECT, SUBJOB_CODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCK_CODE, SNAPSHOT_TYPE, DATA_DATE, FORECAST_DATE, PROJECT_BUDGET, FORECAST_QTY, FORECAST_COST, CREATED, CREATEDBY, UPDATED, UPDATEDBY, DELETED, DELETEDBY, PO_TOTAL, PO_NUMBER, STATUS_CODE)
	SELECT NEWID(), @PROJECT_GUID, SUB_JOBCODE, DISCIPLINE_CODE, COMMODITY_CODE, VARIATION_CODE, STOCKCODE, @PREVIOUS_PO_SNAPSHOT_TYPE, @DATA_DATE_LAST_SECOND, @PREVIOUS_MONTH_DATA_DATE, 0, TOTAL_ORD_QUANT, TOTAL_OUTSTANDING_COSTS, GETDATE(), @USER_GUID, NULL, NULL, NULL, NULL, TOTAL_COSTS, PO_NUMBER, NULL FROM @TBL_PREVIOUS_PO_LINES
END

